@import "templatecolours.css";
body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/* NAVIGATION BAR CSS */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li {
    float: left;
    list-style: none;
}
nav>ul>li a {
    display: block;
    color: #8E3C3C;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    transition: background-color .5s;
}
li a:hover {
    background-color: #2C3E50;
    border-radius: 5px;
    color: #FFF;
}
/* Section */
section {
    width: 800px;
    height: 1130px;
    margin-top: 10px;
}
aside p,h3{
    margin: 0;
}
aside h3{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
aside p{
    font-size: larger;
}
article {
    text-align: justify;
    width: 220px;
    height: 780px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* IMAGE SIZING CSS */
#websitelogo1 {
    width: 373px;
    float: left;
    height: 120px;
    padding-top: 10px;
}
#robertgordon
{
    width: 350px;
    float: right;
}
#seachbox
{
    float: right;
    color: #8E3C3C
    text-align: left;
    text-shadow: #2C3E50;
    padding-bottom: 10px;
}
#banner
{
    width: 960px;
    height: 400px;
}
#tamer
{
    width: 200px;
    float: left;
    padding-left: 10px;

}
#success
{
    width: 200px;
    height: 150px;
    padding-top: 100px;
    padding-left: 10px;

}
#work
{
    width: 350px;
    height: 550px;
    float: left;
    margin-top: 10px;
}

#experience
{
    width: 350px;
    height: 570px;
    float: left;
    padding-top: 10px;
}
#skills
{
    width: 350px;
    height: 570px;
    float: left;
    padding-top: 10px;
}
#gradedunit
{
    width: 350px;
    height: 550px;
    float: left;
    padding-top: 10px;
}
#clockDisplay
{
    width:140px;
    height:30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: orange;
    text-align: center;
}
/* Slider */
#slider {
    width: auto;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center top;
    position: relative;
}


#slider .text h3 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 40px;
    color: aliceblue;
}

#slider .text p
{
    font-size: 10px;
    padding-left: 20px;
    color: #00FFFF;
}


/* TEXT STYLING */
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: justify;
}
h1 {
    font-size: larger;
}

p, h2, h3, h4, a{
    font-size: larger;
    padding-left: 10px;
}

h3, h3, h4 {
    padding-top: 5px;
    font-size: larger;
}
h5
{
    font-size: larger;
    padding-left: 10px;
}

/* Footer */
footer {
    max-width: 960px;
    height: 100px;
    background-color: #2C3E50;
    margin-top: 20px;
}

footer .container .copyright {
    float: left;
    margin-top: 44px;
    font-size: 14px;
    color: #EEE;
    padding-left: 10px;

}

footer .container .copyright a {
    text-decoration: none;
    color: #EEE;
    -moz-transition: color .3s;
    transition: color .3s;
}

footer .container .copyright a:hover,
footer .container .downmenu ul li a:hover {
    color: #2B445D;
}

footer .container .downmenu {
    float: right;
    padding-right: 10px;
}

footer .container .downmenu ul {
    list-style: none;
    padding-right: 10px;
}

footer .container .downmenu ul li {
    display: inline-block;
    margin: 42px 0 0 15px;
}
footer .container .downmenu ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    -moz-transition: color .3s;
    transition: color .3s;
}
